@import "../../scss/variables";
@import "../../scss/mixins";

.navbar {
  background-color: $cardNavBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;

  .links {
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
    gap: 2%;
  }

  a {
    color: $secondaryColor;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.5s;
    &:hover {
      background-color: $secondaryColor;
      color: $cardNavBgColor;
    }
  }
  img {
    width: 100px;
    height: 100px;
  }
}

@include media-xsm {
  .links {
    flex-direction: column;
  }
}
@include media-lg {
  .link {
    flex-direction: row;
  }
}
